body {
  margin: 0;
  font-family: Arial, Arial, Helvetica, sans-serif;
}

.header {
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100;
}

.header h1 {
  font-size: 25px;
  padding: 0;
  margin: 0;
  text-align: center;
}

.map {
  width: 100vw;
  height: 100vh;
  position: relative;
}

/* Marker Icons */
.fire-location-icon {
  font-size: 2rem;
  color: red;
}

.storm-location-icon {
  font-size: 2rem;
  color: blue;
}

.volcano-location-icon {
  font-size: 2rem;
  color: maroon;
}

.iceberg-location-icon {
  font-size: 2rem;
  color: darkblue;
}

/* Location Info Display */

.location-info {
  position: absolute;
  top: 80px;
  right: 50px;
  width: 400px;
  min-height: 200px;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  font-size: 18px;
  color: #fff;
}

.location-info ul {
  list-style-type: none;
  padding: 0;
}

.location-info li {
  padding: 5px 0;
}

/* Legend Display */
.legend {
  position: absolute;
  bottom: 60px;
  left: 50px;
  width: 150px;
  min-height: 150px;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  font-size: 18px;
  color: #fff;
  z-index: 100;
}

.legend ul {
  list-style-type: none;
  padding: 0;
}

.legend li {
  padding: 5px 0;
 
}
